

/* :ROOT * H1 H2 H3 */
/* BODY */
/* HR */
/* HEADER */
/* MAIN */
/* WELCOME PAGE */
/* TOASTIFY COLOR */
/* FOOTER */
/* ERROR PAGE */
/* SIGNUP - LOGIN - FORGETPASSWORD */
/* LOADER */
/* LOGOUT SWITCH */
/* LEVELS */
/* PROGRESS BAR */
/* ANSWER OPTIONS*/
/* QUIZOVER */
/* SUBMIT BUTTON */
/* MODAL */
/* MEDIA QUERIES */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Anton|Bangers|Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
  --deep-white-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --light-green-color: #1ecc78;
  --green-color: #0cb765;
  --red-color: #EB1D27;
  --blue-color: #4f78a4;
  --dark-red-color: #d31017;
  --dark-grey-color: #363636;
  --black-color: #333030;
  --deep-black-color: #000000;
  --deep-blue-color: #0f1ce1
}

* {
  font-family: 'Nunito', sans-serif;
}




body {
  margin: 0;
  padding: 0;
  background-image: url(images/fond_decran.jpg);
  background-repeat: repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px 0;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
}

.banner-container {
  padding: 20px 0;
  flex-basis: 80%;
}
/* END HEADER */

/* MAIN */
main {
  flex-grow: 1;
}
/* END MAIN */

/* WELCOME PAGE */
.welcomePage {
  background-color: var(--deep-blue-color);
  background-image: url(images/fond_decran.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: space-between;
  height: 500px;
}




/* FOOTER */
footer {
  display: flex;
  justify-content: center;
}



/* ERROR PAGE */
.quiz-bg {
  margin: 0;
  padding: 0;
  background-color: var(--deep-white-color);
  display: flex;
  justify-content: center;
}

.container {
  background-color: var(--deep-white-color);
  padding: 30px;
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* END ERROR PAGE */



/* SIGNUP - LOGIN - FORGETPASSWORD */
.containerLogin
{
position: absolute;
width: 100%;
display: flex;
margin: 0;
padding: 0;
flex-direction: row;
top:100px;
}

.rightcontainer
{
position: relative;
border-color: rgba(255, 255, 255, 1);
width:350px;
height:350px;
position: relative;
left: 200px;
top:  50px;
margin: 0;
padding: 0;
}
.securite
{
  color: rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  display: block;
  font-size: 40px;
  font-family: 'Nunito', sans-serif;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
.securite2{
  color: rgba(0, 0, 0, 1);
  font-weight: bolder;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  display: block;
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}
.plus
{
  width: 250px;
  padding: 10px 0;
  font-size: 17px;
  margin-bottom: 10px;
  background:  rgba(53, 151, 255, 1);
  border: 1px solid rgba(53, 151, 255, 1);
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;

}

.signUpLoginBox {
  border-color: rgba(255, 255, 255, 1);
  width:350px;
  height:400px;
  position: relative;
  border: 1px solid none;
  left: 550px;
  top:  50px;
  border-radius: 40px;
  right: 100px;

}

.slContainer {
  flex: 0 1 80%;
  display: flex;
  padding: 0px;
justify-content: center;
}

.dejaclient {
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  padding: 10px 0px 0px 0px;

}
.oublie{
  font-size: 25px;
  text-align: center;
  font-weight: bolder;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  padding: 20px auto;
  margin: 20px auto;

}

.accederservice{
  font-size: 20px;
  text-align: left;
  font-weight: bolder;
  color: rgba(0, 0, 0, 1);
  margin: 0px;
  padding: 0px;
  text-align: center;
}


.formBoxLeftForget {
  min-height: 500px;
  background-image: url(images/deadpool.png);
  background-repeat: no-repeat;
  background-position: center center;
  flex: 0 1 50%;
}

.formBoxRight {
  flex: 0 1 50%;
}

.formBoxRight span {
  display: block;
  color: var(--deep-blue-color);
  text-align: center;
  border: 1px solid var(--deep-blue-color);
  padding: 10px;
  margin: 15px 0;
}

.formContent {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.formContent h2 {
  margin: 0 0 40px 0;
  padding: 0;
  color: var(--deep-black-color);
  text-transform: uppercase;
}

.formContent .inputBox {
  position: relative;
  padding-top: 10px;
}

.formContent .inputBox input {
  width: 250px;
  padding: 10px 0;
  font-size: 17px;
  margin-bottom: 10px;
  background: transparent;
  border: 1px solid rgba(53, 151, 255, 0.5);
  border-radius: 20px;

}

.formContent .inputBox label {
  color: var(--deep-black-color);
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 0;
  font-size: 17px;
  pointer-events: none;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  text-align: center;
  border: none;
}

.formContent .inputBox input:focus~label,
.formContent .inputBox input:valid~label {
  top: -30px;
  left: 0;
  color: var(--deep-black-color);
  font-size: 16px;
  font-style: italic;
  display: none;
  border: none;
  text-decoration: none;
}

/* Form buttons */
.formContent button {
  width: 250px;
  margin-left: 0;
  display: block;
  margin: 0 auto 10px;
  background-color:rgba(53, 151, 255, 1);
  color: var(--deep-black-color);
  padding: 7px;
  font-size: 15px;
  border-radius: 10px;
  margin-top: 10px;
  border: none;
}

.formContent button:hover {
  background-color: rgba(53, 151, 255, 1);
  color: var(--deep-black-color);
  cursor: pointer;
}

button:disabled,
button[disabled],
button:disabled:hover,
button[disabled]:hover {
  border: 1px solid var(--light-grey-color);
  background-color: rgba(53, 151, 255, 1);
  color: var(--dark-grey-color);
  opacity: 0.65;
  cursor: not-allowed;
}



.simpleLink {
  display: block;
  color:  rgba(0, 0, 0, 1);
  font-size: 12px;
  text-align: center;

}
.simpleLinkInsc {
  display: block;
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.simpleLinkcenter{
  display: block;
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.simpleLink:hover {
  color: rgba(53, 151, 255, 1);
  text-align: center;
}
.simpleLinkInsc:hover {
  color: rgba(53, 151, 255, 1);
}
.simpleLinkcenter:hover {
  color: rgba(53, 151, 255, 1);
}

/* END SIGNUP - LOGIN - FORGETPASSWORD */


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/* END LOADER */

/* LOGOUT SWITCH */
.logoutContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}



@media screen and (max-width: 980px) {
  /* Change Modal elements */
  .modalBody {
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
  }

  .modalContainer {
    flex: 0 1 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1110px) {
   /* make container full width */
   .container {
    flex: 0 1 100%;
  }

  /* hide all images on forms */
  .formBoxLeftSignup,
  .formBoxLeftLogin,
  .formBoxLeftForget {
    display: none;
  }

  .formBoxRight {
    flex: 0 1 100%;
  }

}